<?xml version="1.0" encoding="utf-8"?>
<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請造訪
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="SessionTimeOut" value="60" /><!--TimeOut時間(分鐘)-->
	  <add key="DiscountStartTime" value="2015-05-01 00:00:00" /><!--觀光客折扣開始時間-->
	  <add key="DiscountEndTime" value="2016-05-01 00:00:00" /><!--觀光客折扣結束時間-->
	  <add key="DiscountLimit" value="1000" /><!--觀光客折扣金額條件-->
	  <add key="DiscountAmount" value="100" /> <!--觀光客折扣金額-->
  </appSettings>
  
  <connectionStrings>
  </connectionStrings>
  <system.web>
    <!--統計線上人數用-->
    <!--<sessionState mode="InProc" timeout="1">-->
    <sessionState mode="InProc">
    </sessionState>
    <!--統計線上人數用(2013-1106新增)-->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IPrintBarcode" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288000" maxBufferSize="65536000" maxReceivedMessageSize="65536000"
          textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
          messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IEntrance" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:02:00"
          allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="524288000"
          maxReceivedMessageSize="65536000" useDefaultWebProxy="true" />
        <binding name="BasicHttpBinding_IADVerify" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:05:00"
          allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="524288000"
          maxReceivedMessageSize="65536000" useDefaultWebProxy="true" />
        <binding name="BasicHttpBinding_IAuth" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:05:00"
          allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="524288000"
          maxReceivedMessageSize="65536000" useDefaultWebProxy="true" />
      </basicHttpBinding>
      <wsDualHttpBinding>
        <binding name="Register" maxBufferPoolSize="524288000" maxReceivedMessageSize="65536000">
          <reliableSession inactivityTimeout="00:00:30" />
          <security mode="None" />
        </binding>
        <binding name="Print" maxBufferPoolSize="524288000" maxReceivedMessageSize="65536000">
          <reliableSession inactivityTimeout="00:00:30" />
          <security mode="None" />
        </binding>
        <binding name="Manager" maxBufferPoolSize="524288000" maxReceivedMessageSize="65536000">
          <reliableSession inactivityTimeout="00:00:30" />
          <security mode="None" />
        </binding>
        <binding name="Register2">
          <reliableSession inactivityTimeout="00:00:10" />
          <security mode="None" />
        </binding>
        <binding name="Print2" closeTimeout="00:01:00" openTimeout="00:01:00"
          receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false"
          maxBufferPoolSize="524288000" maxReceivedMessageSize="65536000"
          useDefaultWebProxy="true">
          <reliableSession inactivityTimeout="00:00:10" />
          <security mode="None" />
        </binding>
        <binding name="Manager2">
          <reliableSession inactivityTimeout="00:00:10" />
          <security mode="None" />
        </binding>
        <binding name="Register1">
          <reliableSession inactivityTimeout="00:00:30" />
          <security mode="None" />
        </binding>
        <binding name="Print1" closeTimeout="00:01:00" openTimeout="00:01:00"
          receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false"
          maxBufferPoolSize="524288000" maxReceivedMessageSize="65536000"
          useDefaultWebProxy="true">
          <reliableSession inactivityTimeout="00:00:30" />
          <security mode="None" />
        </binding>
        <binding name="Manager1">
          <reliableSession inactivityTimeout="00:00:30" />
          <security mode="None" />
        </binding>
        <binding name="Register3">
          <reliableSession inactivityTimeout="00:00:10" />
          <security mode="None" />
        </binding>
        <binding name="Print3" closeTimeout="00:01:00" openTimeout="00:01:00"
          receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false"
          maxBufferPoolSize="524288000" maxReceivedMessageSize="65536000"
          useDefaultWebProxy="true">
          <reliableSession inactivityTimeout="00:00:10" />
          <security mode="None" />
        </binding>
        <binding name="Manager3">
          <reliableSession inactivityTimeout="00:00:10" />
          <security mode="None" />
        </binding>
      </wsDualHttpBinding>
    </bindings>
      
    <client>
      <endpoint address="http://observice.obdesign.com.tw/BarcodePrinter/IO/Printer/BarcodePrinter/Printer.svc"
        binding="wsDualHttpBinding" bindingConfiguration="Register1"
        contract="OBPrintBarcode.IRegister" name="Register" />
      <endpoint address="http://observice.obdesign.com.tw/BarcodePrinter/IO/Printer/BarcodePrinter/Printer.svc"
        binding="wsDualHttpBinding" bindingConfiguration="Print1" contract="OBPrintBarcode.IPrint"
        name="Print" />
      <endpoint address="http://observice.obdesign.com.tw/BarcodePrinter/IO/Printer/BarcodePrinter/Printer.svc"
        binding="wsDualHttpBinding" bindingConfiguration="Manager1"
        contract="OBPrintBarcode.IManager" name="Manager" />
      <endpoint address="http://observice.obdesign.com.tw/BarcodePrinter/IO/Printer/BarcodePrinter/Printer.svc"
        binding="wsDualHttpBinding" bindingConfiguration="Register3"
        contract="PosPrintBarcode.IRegister" name="Register2" />
      <endpoint address="http://observice.obdesign.com.tw/BarcodePrinter/IO/Printer/BarcodePrinter/Printer.svc"
        binding="wsDualHttpBinding" bindingConfiguration="Print3" contract="PosPrintBarcode.IPrint"
        name="Print2" />
      <endpoint address="http://observice.obdesign.com.tw/BarcodePrinter/IO/Printer/BarcodePrinter/Printer.svc"
        binding="wsDualHttpBinding" bindingConfiguration="Manager3"
        contract="PosPrintBarcode.IManager" name="Manager2" />
      <endpoint address="http://observice.obdesign.com.tw/AD/Security/ADVerify.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IADVerify"
        contract="ADVerifyService.IADVerify" name="BasicHttpBinding_IADVerify" />
      <endpoint address="http://observice.obdesign.com.tw/AD/Security/Auth.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAuth"
        contract="AuthService.IAuth" name="BasicHttpBinding_IAuth" />
      <endpoint address="http://observice.obdesign.com.tw/AD/Entrance/Entrance.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEntrance"
        contract="EntranceService.IEntrance" name="BasicHttpBinding_IEntrance" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.3.0" newVersion="5.5.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>